.about {
	.hero {
		background-image: url('../img/backgrounds/about-me-new.jpg');
		background-position: 25% 70%;
		.caption {
			width: 45%;
			max-width: 415px;
		}			
	}
	main .row {
		margin: 25px 0;
		p {
			margin-bottom: 20px;
		}
	}
}