.about {
	.hero {
		background-image: url('../img/backgrounds/about-me-2.jpg');
		background-position: 57%;
		.caption {
			width: 48%;
			max-width: 475px;
		}			
	}
	main .row {
		margin: 25px 0;
		p {
			margin-bottom: 20px;
		}
	}
}