$emerald 	: #2AB07C;
$green 		: #03C03C;
$darkGreen	: #03a734;
$darkerGreen: #02962e;
$blue		: #3498DB;
$darkBlue	: #0070B8;
$red		: #FF6961;
$brightRed	: #EB1D24;
$purple		: #966FD6;
$orange		: #FF9E14;
$pink		: #F49AC2;
$grey		: #555E69;