.contact {
	.hero {
		background-image: url('../img/backgrounds/contact-green.jpg');
		background-position: 35% 40%;
		.caption {
			width: 48%;
			max-width: 475px;
			top: 33%;
			left: 10px;
		}			
	}
}