.contact {
	.hero {
		background-image: url('../img/backgrounds/contact-green.jpg');
		background-position: 35% 40%;
		.caption {
			width: 48%;
			max-width: 475px;
			top: 33%;
			left: 10px;
		}			
	}
	.colour-boxes {
		.colour-box {
			/* Fix annoying 2px difference between boxes */
			min-height: 167px; 
		}
	}
}