.home {
	.hero {
		background-image: url('../img/backgrounds/car-reverse-2.jpg');
		background-position: 55% 65%;	
	}
	.colour-boxes {
		.colour-box {
			height: 200px;
			padding: 20px 0;
			&.purple {
				padding: 40px 0;
				img {
					margin-right: 5px;
					vertical-align: middle;
					height: 24px;
					max-width: 24px;
				}
			}
		}		
	}
	.about {
		padding: 0;
		background-image: none;
		color: #fff;	
		.caption {			
			padding: 20px;
			background-color: $emerald;
			h2 {
				font-size: 2.3rem;
				margin-bottom: 15px;
			}
			ul {
				padding-left: 20px;
				li {
					display: list-item;
					margin-bottom: 15px;
				}
			}
		}
	}
}

/* Custom width */
@media only screen and (min-width : 690px) {
.home {
	.about {
		padding: 80px 40% 120px 20px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 56% 100%;
		background-image: url('../img/backgrounds/toy-car-extended-2.jpg');
	}
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.home {
	.colour-boxes {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.col-md-12 {
			-webkit-box-ordinal-group: 2;
			-webkit-order: 1;
			-ms-flex-order: 1;
			order: 1;
		}
	}
	.about {
		padding: 80px 50% 120px 20px;
	}
}
}