.info {
	.hero {
		background-image: url('../img/backgrounds/gearstick-extended.jpg');
		background-position: 40% 57%;
		.caption {
			width: 48%;
			max-width: 475px;
			top: 25%;
		}			
	}
	.colour-boxes {
		.colour-box {
			padding: 20px 10px;
			h2 {
				font-size: 1.8rem;
			}
			.section {
				padding-bottom: 15px;
				margin-bottom: 30px;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				&:last-of-type {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			ul {
				margin-bottom: 15px;
			}
			> .button {
				display: inline-block;
				margin-top: 15px;
			}
		}		
	}
}

.paypal__section {
	position: relative;

	h2 {
		margin-bottom: 5px!important;
	}

	small {
		display: block;
		margin-bottom: 10px;
	}
}

.paypal-form {

	&__label {
		display: block;
		margin: 0 auto 5px;
		text-align: center;
	}

	&__select {
		border: none;
		border-radius: 0;
		display: block;
		font-size: 0.9rem;
		margin: 0 auto;
		min-width: 80%;
		padding: 10px 5px;
	}

	&__submit {
		display: block;
		margin: 10px auto 0;
		padding: 10px 25px;

		&:hover {
			cursor: pointer;
		}
	}

	&__logo {
		height: 45px;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
	}
}