html {
    position: relative;
    min-height: 100%;
}
body {
	padding-top: 75px;
	margin: 0 0 240px; /* bottom = footer height + 20px (margin) */
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $grey;
    color: #fff;
    text-align: center;
	padding: 15px 15px;
	h2 {
		margin-bottom: 10px;
	}
	.social-icons{
		margin-bottom: 30px;
		a {
			opacity: 0.75;
			margin: 0 10px;
			display: inline-block;
			&:hover, 
			&:focus {
				opacity: 1;
			}
		}
	} 
	.contact {		
		p {
			margin-bottom: 3px;
			img {
				margin-right: 5px;
	    		vertical-align: middle;
			}
		}
	}
}

header,
nav {
	position: fixed;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
}

header {
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 75px;
	padding: 10px 0;
	background-color: $green;
	.logo {
		display: inline-block;
	}
	.menu-icon-container {
		background-color: $green;
		display: inline-block;
		float: right;
		height: 75px;
		width: 75px;

		/* Override header padding */
		margin-top: -10px;
		margin-right: -10px;
		&:hover {
			background-color: $darkGreen;
		}
		.menu-icon {
			font-size: 0;
		    line-height: 0;
			background-image: url("../img/icons/menu.svg");
			background-size: 35px 35px;
			background-position: center center;
			background-repeat: no-repeat;
			height: 75px;
			width: 75px;
		}
		.menu-icon:before {
			/* Hidden element to pre-load close image- avoids flickering when hamburger pressed */
			content: url("../img/icons/menu-close.svg");
			position: absolute;
			width:0;
			height:0;
			visibility:hidden;
		}
	}
}

body > div, body > main, body > footer {
	-webkit-transform: translateZ(0)translate3d(0, 0, 0);
	transform: translateZ(0)translate3d(0, 0, 0);
	
	-webkit-filter: blur(0px);
	filter: blur(0px);

	transition: 0.5s filter linear;
	-webkit-transition: 0.5s -webkit-filter linear;
	-moz-transition: 0.5s -moz-filter linear;
	-moz-transition: 0.5s filter linear;
	-ms-transition: 0.5s -ms-filter linear;
	-o-transition: 0.5s -o-filter linear;
}

body.show-menu {
	.menu-icon-container {
		background-color: $darkGreen;
		.menu-icon {
			background-image: url('../img/icons/menu-close.svg');
		}
	}
	> div, > main, > footer {
		-webkit-filter: blur(2px);
	    filter: blur(2px);
	}
}

nav {
	z-index: 99;
	top: 75px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: $darkGreen;
	overflow-y: auto;
	max-height: 0;
	transition: max-height 0.25s ease-in-out;
	color: #fff;
	ul {
		text-align: center;
		li {
			a {
				height: 100%;
				width: 100%;
				display: block;
				padding: 15px 5px;
				border-left: 0px transparent solid;
				border-right: 0px transparent solid;
				&.active,
				&:hover,
				&:focus {
					background-color: #fff;
					color: $grey;
				}
			}
		}
	}
}

.hero {
	position: relative;
	width: 100%;
	min-height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	.caption {
		position: absolute;
		top: 33%;
		right: 10px;
		font-size: 1.3rem;
		text-align: right;
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		h1 {
			font-size: 2.5rem;
			.red {
				color: $brightRed;
			}
		}
		p {
			margin-bottom: 15px
		}
		.button {
			text-shadow: none;
		}
	}
}

.button {
	padding: 0.3em 1em;
	border-radius: 2px;
	color: #fff;
	background-color: $green;
	font-size: 1rem;
	img {
		height: 1em;
		vertical-align: middle;
	}
	&:hover {
		background-color: darken($green, 5%);
	}
}