html {
    position: relative;
    min-height: 100%;
}
body {
	padding-top: 75px;
	margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: $grey;
    color: #fff;
    text-align: center;
}

header,
nav {
	position: fixed;
	-webkit-transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
}

header {
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 75px;
	padding: 10px;
	background-color: $green;
	.logo {
		display: inline-block;
	}
	.menu-icon-container {
		background-color: $green;
		display: inline-block;
		float: right;
		height: 75px;
		width: 75px;

		/* Override header padding */
		margin-top: -10px;
		margin-right: -10px;
		&:hover {
			background-color: $darkGreen;
		}
		.menu-icon {
			font-size: 0;
		    line-height: 0;
			background-image: url("../img/icons/menu.png");
			background-position: center center;
			background-repeat: no-repeat;
			height: 75px;
			width: 75px;
		}
	}
}

body.show-menu {
	.menu-icon-container {
		background-color: $darkGreen;
		.menu-icon {
			background-image: url('../img/icons/menu-close.png');
		}
	}
}

nav {
	z-index: 99;
	top: 75px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: $darkGreen;
	overflow-y: auto;
	max-height: 0;
	transition: max-height 0.25s ease-in-out;
	color: #fff;
	ul {
		text-align: center;
		li {
			a {
				height: 100%;
				width: 100%;
				display: block;
				padding: 15px 5px;
				&.active,
				&:hover,
				&:focus {
					background-color: #fff;
					color: $grey;
				}
			}
		}
	}
}

.hero {
	position: relative;
	width: 100%;
	min-height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	.caption {
		position: absolute;
		top: 33%;
		right: 10px;
		font-size: 1.3rem;
		text-align: right;
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		h1 {
			font-size: 2.5rem;
			.red {
				color: $brightRed;
			}
		}
		p {
			margin-bottom: 8px
		}
		.button {
			text-shadow: none;
		}
	}
}

.button {
	padding: 0.3em 1em;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	background-color: $green;
	font-size: 1rem;
	img {
		height: 1em;
		vertical-align: middle;
	}
	&:hover {
		background-color: darken($green, 5%);
	}
}