.stories {
	.hero {
		background-image: url('../img/backgrounds/balloons-extended.jpg');
		background-position: 0% 0%;
		z-index: 99;	
	}
	.car {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-48%);
		z-index: 9;
		width: 60px;
		height: 60px;
	}
	.caption {
		width: 35%;
		top: 25%;
	}
	.loading-spinner-container {
	    text-align: center;
	    margin: 20px 0;
	}
	.loading-spinner {
		content: "";
	    display: inline-block;
	    width: 50px;
	    height: 50px;
	    z-index: 1;
	    border-radius: 50%;
	    border: 2px solid $emerald;
	    border-left-color: transparent;
	    background: transparent;
	    animation: rotate 1s infinite linear, colorchange 5s infinite linear;
	}
	blockquote {
		&.blockquote-template {
			display: none;
			height: 0;
			width: 0;
			opacity: 0;
		}
		margin-bottom: 30px;
		position: relative;
		.author {
			line-height: 40px;
			height: 40px;
			padding: 0 60px;
		}
		img {
			padding: 10px 30px;
			max-height: 300px;
		}
		.quote {
			margin-right: 20px; /* Make room for speech bubble pointer */
			margin-left: 20px; /* Make room for speech bubble pointer */
		}
		&:nth-child(odd) {
			.author {
				text-align: left;
			}
			.author:before {
				right: 5px;
		    	transform: translateY(-57px);
				border-width: 20px 20px 0 0;
			}
		}
		&:nth-child(even) {
			.author {
				text-align: right;
			}
			.author:before {
				left: 5px;
			    transform: translateY(-57px);
			    border-width: 20px 0 0 20px;
			}
		}
		&:nth-child(6n+1) {
			.quote {
				background-color: $purple;
			}
			.author:before {
				border-color: $purple transparent;
			}
		}
		&:nth-child(6n+2) {
			.quote {
				background-color: $darkBlue;
			}
			.author:before {
				border-color: $darkBlue transparent;
			}
		}
		&:nth-child(6n+3) {
			.quote {
				background-color: $red;
			}
			.author:before {
				border-color: $red transparent;
			}
		}
		&:nth-child(6n+4) {
			.quote {
				background-color: $orange;
			}
			.author:before {
				border-color: $orange transparent;
			}
		}
		&:nth-child(6n+5) {
			.quote {
				background-color: $blue;
			}
			.author:before {
				border-color: $blue transparent;
			}
		}
		&:nth-child(6n+6) {
			.quote {
				background-color: $emerald;
			}
			.author:before {
				border-color: $emerald transparent;
			}
		}
	}
}

@media only screen and (min-width : 992px) { /* Show road divider/timeline */
.stories {
	.car {
		display: block;
	}
	.quotes {
		background-image: url('../img/backgrounds/road-background-small.fw.png');
		background-repeat: repeat-y;
		background-position: center;
	}
	blockquote {
		width: 50%;
		&:before {
			top: -15px;
			bottom: -15px;
			content: '';
			position: absolute;
			width: 20px;
			
		}
		&:nth-child(odd) {
			float: left;
			clear: both;
			.quote {
				margin-right: 25px;
			}
			.author:before {
				right: 10px;
			}
			&:before {				
				right: -10px;				
			}
		}
		&:nth-child(even) {
			float: right;
			clear: both;
			.quote {
				margin-left: 25px;
			}
			.author:before {
				left: 10px;
			}
			&:before {
				left: -10px;
			}
		}
		&:first-child:before {
			top: 0;
		}
		&:last-child:before {
			bottom: 0;
		}
	}
}
}

@keyframes rotate {	
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(360deg);
	}
}

@keyframes colorchange {
	0%   {
		border-color: $emerald;
	    border-left-color: transparent;
	}
	20%  {
		border-color: $darkBlue;
	    border-left-color: transparent;
	}
	40%  {
		border-color: $purple;
	    border-left-color: transparent;
	}
	60%  {
		border-color: $red;
	    border-left-color: transparent;
	}
	80% {
		border-color: $orange;
	    border-left-color: transparent;
	}
	100% {
		border-color: $emerald;
	    border-left-color: transparent;
	}
}